<div class="container w-75 p-3">
    <div class="header">
        <h2 class="text-center px-4">Que Caracteriza a LanzaApp</h2>
        <p class="text-center">¡Con <b>LanzaApp</b> lo que esta en tu mente se hace realidad!</p>
    </div>
    <div class="content">
        <div class="row p-2">
            <div class="col" *ngFor="let item of caracteristicas; let i = index">
                <div class="rounded shadow m-3 p-4" >
                    <div class="header px-3">
                        <div class="icon d-flex justify-content-center align-items-center p-2 m-2" *ngIf="i == 0">
                          <img src="./assets/inversor.png" alt="Icono de Inversor" style="width: 150px; height: 150px; " >
                        </div>
                        <div class="icon d-flex justify-content-center align-items-center p-2 m-2" *ngIf="i == 1">
                          <img src="./assets/programador.png" alt="Icono de Programador" style="width: 150px; height: 150px; " >

                        </div>
                        <div class="icon d-flex justify-content-center align-items-center p-2 m-2" *ngIf="i == 2">
                          <img src="./assets/emprendedor.png" alt="Icono de Emprendedor" style="width: 150px; height: 150px; " >

                        </div>
                        <p class="text-center"><b> {{ item | translate }}  </b></p>
                    </div>
                    <div class="content px-3">
                        <p class="text-justify" >{{descripciones[i] | translate }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
