<div class="container w-75">
    <div class="header">
        <h2 class="text-center px-3">{{ 'porque.text_1' | translate }}</h2>
        <p class="text-center"> {{ 'porque.text_2' | translate }}  <b>LanzaApp</b>!</p>
    </div>
    <div class="content">
        <div class="row py-1 px-2">
            <div class="col p-3 d-flex jutify-content-center">
                <img src="../../../assets/por.svg" class="w-100 rounded">
            </div>
            <div class="col d-flex justify-content-center align-items-center flex-column p-5">
                <div class="head p-2">
                    <h4 class="text-left"> {{ 'porque.text_3' | translate }}</h4>
                </div>
                <div class="content">
                    <p class="text-left">
                        <span>
                          {{ 'porque.text_4' | translate }}
                        </span>

                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
